<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ldm.dao.ActivityDao">

    <select id="selectActivityListByEs" resultType="com.ldm.entity.ActivityIndex">
        SELECT * FROM t_activity WHERE activity_id IN
        <foreach collection="idList" item="activityId" open="(" separator="," close=")">
            #{activityId}
        </foreach>

    </select>
</mapper>
