<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ldm.dao.UserDao">
    <select id="selectUserBase" resultType="com.ldm.entity.user.UserInfo">
select * from t_user where user_id=#{userId}
    </select>
</mapper>
